body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #dd5e5e;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("/images/ghostShark.jpeg");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: #b5fdff;
}

.caption span.border {
  color: #b5fdff;
  padding: 8px;
  font-size: 18px;
  letter-spacing: 8px;
  background-color: rgba(18, 37, 43, 0.75);
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #cc9021;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #ca6464;
}

a:hover {
  color: #c96932;
}

a:active {
  color: #e7a936;
}
