.box {
  position: relative;
  top: 20px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    max-width: 50vw;
    background: rgba($background, 0.5);
    color: $prim-color;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;

    img {
      max-width: 90%;
      margin: auto;
      border-radius: 10px;
    }

    h2 {
      font-family: $big-font;
      font-size: 5em;
      color: $sec-color;
      text-shadow: 2px 5px 5px $tert-color;
    }

    h3 {
      font-size: 4rem;
      color: $prim-color;
    }

    .otions {
      justify-content: space-around;
      color: $sec-color;
    }
  }
}
