@import "variables";
@import "buttons";
@import "cards";
@import "functions";
@import "header";
@import "footer";

// base
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font: $prim-font;
  color: $prim-color;
  line-height: 1.6;
}

.banner {
  background-color: $background;
  color: $sec-color;
  font-family: $sec-font;
  height: 100px;
  width: 100vw;

  h1 {
    font-family: $big-font;
  }
}

.background {
  background-image: url(./images/ghostShark.jpeg);
  background-size: cover;
}
